body{
    font-family: 'Open Sans', sans-serif;
}

.nav-sidebar{
    margin: 20px -20px 20px 20px;
}

.nav-sidebar>li>a{
    padding: 20px 20px;
}

.main{
/*    margin-top: 10px;*/
/*    padding: 10px;*/
}

.placeholders{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.placeholder{
    margin-bottom: 20px;
}

.placeholder img{
    border-radius: 50%;
    display:inline;
}